@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Question = Model.Questions.First();
    var Answers = Model.Answers;
    var jQuestion = Model.JsonQuestion;
    var jAnswers = Model.JsonAnswers;
}

<div class="row">
    <div class="col-12">
        <h1>User Votes</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
{
    @jQuestion.Text
}
@foreach (var item in jAnswers)
{
    <li>@item.Text</li>
}

{
    @Question.Text
}
@foreach (var item in Answers)
{
    <li>@item.Text</li>
}