@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var question = Model.Question;
    var answers = Model.Answers;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-12">
            <h2>@question.Text</h2>
            <ul>
                @foreach (var item in answers)
                {
                    <li>@item.Text</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Connected Users</h2>
            <ul id="usersList">
            </ul>
        </div>
        <div class="col-6">
            <h2>User Votes</h2>
            <ul id="messagesList"></ul>
        </div>
    </div>
}
else
{
    <a href="/Identity/Account/Login">Please Login</a>
}
