@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Question = Model.Questions.First();
    var Answers = Model.Answers;
}

<div class="row">
    <div class="col-12">
        <h1>User Votes</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<h2>@Question.Text</h2>
<ul>
@foreach (var item in Answers)
{
    <li>@item.Text</li>
}
</ul>