@page
@model VoteModel
@{
    ViewData["Title"] = "Vote";
    var username = Model.UserName;
    var question = Model.Question;
    var answers = Model.Answers;
}

@if (string.IsNullOrWhiteSpace(username))
{
    <a href="/Identity/Account/Login">Please Login</a>
}
else
{
    <h1>Welcome, <span id="username">@username</span></h1>

    <div class="row">
        <div class="col-12">
            <h2>@question.Text</h2>
            @Html.DropDownList("Thing",
                    new SelectList(answers.Select(x => x.Text)),
                    "Select Answer",
                    new { @class = "form-control" })
        </div>
    </div>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Answer</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
            <div class="col-6">
                <input type="button" id="countDownButton" value="CountDown" />
            </div>
        </div>
    </div>
}

