@page
@model VoteModel
@{
    ViewData["Title"] = "Vote";
    var username = Model.UserName;
    var question = Model.Question;
    var answers = Model.Answers;
    var alphabetDict = new Dictionary<int, string>() { { 0, "a. " }, { 1, "b. " }, { 2, "c. " }, { 3, "d. " }, { 4, "e. " }, { 5, "f. " } };
    var answerDisplay = answers.Select((x, i) => alphabetDict[i] + x.Text);
}

    <div class="container">
        @if (string.IsNullOrWhiteSpace(username))
        {
            <a href="/Identity/Account/Login">Please Login</a>
        }
        else
        {
            <h1>Welcome, <span id="username">@username</span></h1>
            <hr />
            <div id="question-options" class="row">
                <div class="form-group col-12">
                    <h2 id="vote-question">@question.Text</h2>
                    @Html.DropDownList("active-answers",
                            new SelectList(answerDisplay),
                            "Select Answer",
                            new { @class = "form-control" })

                    <input type="button" id="castVoteBtn" class="btn btn-success" value="Cast Vote" />
                </div>
            </div>
        }
    </div>

