@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var question = Model.Question;
    var answers = Model.Answers;
}

<div class="row">
    <div class="col-12">
        <h1>User Votes</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
{
    @question.Text
}
@foreach (var item in answers)
{
    <li>@item.Text</li>
}